In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

### Answer 1 & 2

In [35]:
dr1=webdriver.Chrome(r'F:\Python\chromedriver.exe')
dr1

In [36]:
u1='https://www.amazon.in/'
dr1.get(u1)

In [37]:
sr1=dr1.find_element_by_name('field-keywords')
sr1

In [38]:
user_input=input('Enter keywords')

Enter keywordstv

In [39]:
sr1.send_keys(user_input)

In [40]:
btn=dr1.find_element_by_id('nav-search-submit-button')
btn.click()

In [77]:
link=[]
dtl=[]
for i in range(1,4):
    pg='https://www.amazon.in/s?k=tv&page=0'+str(i)
    dr1.get(pg)
    lnk=dr1.find_elements_by_xpath('//div[@class="sg-col sg-col-4-of-12 sg-col-8-of-16 sg-col-12-of-20"]//h2/a')
    for j in lnk:
        link.append(j.get_attribute('href'))
        dtl.append(j.text)    
len(link)

66

In [78]:
len(dtl)

66

In [153]:
b_nam=[]
p_nam=[]
for i in link:
    dr1.get(i)
    try:
        bnam=dr1.find_element_by_xpath('//div[@class="a-expander-content a-expander-section-content a-section-expander-inner"]/table//tr[1]/td')
        b_nam.append(bnam.text.replace('\n',''))
        pnam=dr1.find_element_by_xpath('//div[@class="a-expander-content a-expander-section-content a-section-expander-inner"]/table//tr[3]/td')
        p_nam.append(pnam.text)
    except:
        b_nam.append('--')
        p_nam.append('--')

In [154]:
len(b_nam)

66

In [155]:
len(p_nam)

66

In [111]:
rating=[]
for i in link:
    dr1.get(i)
    try:
        ra1=dr1.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        rating.append(ra1.text)
    except:
        rating.append('--')

In [151]:
len(rating)

66

In [114]:
t_rate=[]
pric=[]
ex_delivery=[]
retn=[]
availbl=[]
for i in link:
    dr1.get(i)
    try:
        ra2=dr1.find_element_by_xpath('//div[@class="a-section a-spacing-none a-spacing-top-mini cr-widget-ACR"]/div[2]/span')
        t_rate.append(ra2.text)
        prc=dr1.find_element_by_xpath('//td[@class="a-span12"]/span[1]')
        pric.append(prc.text)
        exd=dr1.find_element_by_xpath('//div[@class="a-section a-spacing-mini"]/b')
        ex_delivery.append(exd.text)
        rtn=dr1.find_element_by_xpath('//div[@class="a-column a-span3 a-text-center icon-container icon-grid-width celwidget"]//a[1]')
        retn.append(rtn.text)
        av=dr1.find_element_by_xpath('//div[@class="a-section a-spacing-base }"]/span')
        availbl.append(av.text)
    except:
        t_rate.append('--')
        pric.append('--')
        ex_delivery.append('--')
        retn.append('--')
        availbl.append('--')

In [132]:
total_rate=t_rate[:66]
len(total_rate)

66

In [136]:
len(pric)

66

In [137]:
len(ex_delivery)

66

In [138]:
len(retn)

66

In [139]:
len(availbl)

66

In [156]:
Tv_data=pd.DataFrame({'Brand name':b_nam,'Product name':p_nam,'Rating':rating,'No.of rating':total_rate,
                     'Price':pric,'Excpecte delivery':ex_delivery,'Return/Exchange':retn,
                     'Product Availability':availbl,'Other detail':dtl,'Product URL':link})

In [157]:
Tv_data

,Brand name,Product name,Rating,No.of rating,Price,Excpecte delivery,Return/Exchange,Product Availability,Other detail,Product URL
0,AmazonBasics,AB32E10SS,4.1 out of 5,"1,292 global ratings","₹16,999.00","Monday, Sep 27, 8AM-5PM",10 Days Replacement,In stock.,AmazonBasics 80cm (32 inch) HD Ready Smart LED...,https://www.amazon.in/gp/slredirect/picassoRed...
1,AmazonBasics,AB43U20PS,4.1 out of 5,"1,353 global ratings","₹29,999.00","Monday, Sep 27, 8AM-5PM",10 Days Replacement,In stock.,AmazonBasics 108cm (43 inch) 4K Ultra HD Smart...,https://www.amazon.in/gp/slredirect/picassoRed...
2,MI,L32M5-AL,4.3 out of 5,"54,551 global ratings","₹16,999.00","Friday, Sep 24, 8AM-2PM",10 Days Replacement,In stock.,Mi 80 cm (32 inches) HD Ready Android Smart LE...,https://www.amazon.in/Mi-inches-Ready-Android-...
3,EAirtec,24DJ,4 out of 5,"5,209 global ratings","₹7,999.00","Friday, Sep 24, 8AM-2PM",10 Days Replacement,In stock.,eAirtec 61 cms (24 inches) HD Ready LED TV 24D...,https://www.amazon.in/eAirtec-inches-Ready-24D...
4,Samsung,UA32T4340AKXXL,4.3 out of 5,"8,813 global ratings","₹18,290.00","Friday, Sep 24, 8AM-2PM",10 Days Replacement,In stock.,Samsung 80 cm (32 Inches) Wondertainment Serie...,https://www.amazon.in/Samsung-Inches-Wondertai...
...,...,...,...,...,...,...,...,...,...,...
61,LG,50UP7500PTZ,4.2 out of 5,"6,404 global ratings","₹50,990.00","Friday, Sep 24, 8AM-2PM",10 Days Replacement,In stock.,LG 127 cm (50 inches) 4K Ultra HD Smart LED TV...,https://www.amazon.in/LG-inches-Ultra-Smart-50...
62,Samsung,UA50AUE60AKLXL,4.3 out of 5,293 global ratings,"₹51,990.00","Friday, Sep 24, 8AM-2PM",10 Days Replacement,In stock.,Samsung 125 cm (50 inches) Crystal 4K Series U...,https://www.amazon.in/Samsung-inches-Crystal-U...
63,TCL,43P615,4.3 out of 5,"2,181 global ratings","₹29,990.00","Friday, Sep 24, 8AM-2PM",10 Days Replacement,In stock.,TCL 108 cm (43 inches) 4K Ultra HD Certified A...,https://www.amazon.in/TCL-inches-Certified-And...
64,TOSHIBA,43U5050,4.2 out of 5,"1,609 global ratings","₹28,990.00","Friday, Sep 24, 8AM-2PM",10 Days Replacement,In stock.,Toshiba 108 cm (43 inches) Vidaa OS Series 4K ...,https://www.amazon.in/gp/slredirect/picassoRed...
65,MI,L43M5-AN,4.3 out of 5,977 global ratings,"₹26,999.00","Monday, Sep 27, 8AM-5PM",10 Days Replacement,In stock.,Mi 108 cm (43 Inches) Full HD Android Smart LE...,https://www.amazon.in/gp/slredirect/picassoRed...

In [158]:
Tv_data.to_csv('Tv_data')

In [396]:
dr3=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u3='https://www.google.co.in/imghp?hl=en&ogbl'
dr3.get(u3)

In [383]:
srch=dr3.find_element_by_name('q')

In [384]:
srch.send_keys('fruits')

In [385]:
btn=dr3.find_element_by_xpath('//button[@class="Tg7LZd"]').click()

In [369]:
cars=[]
cr=dr3.find_elements_by_xpath('//a[@class="wXeWr islib nfEiy"]//img')
for i in cr:
    cars.append(i.get_attribute('src'))
len(cars)

200

In [371]:
cars=cars[:100]

In [374]:
cars_img=pd.DataFrame({'Cars images':cars})
cars_img

                                          Cars images
0   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
..                                                ...
95  https://encrypted-tbn0.gstatic.com/images?q=tb...
96  https://encrypted-tbn0.gstatic.com/images?q=tb...
97  https://encrypted-tbn0.gstatic.com/images?q=tb...
98  https://encrypted-tbn0.gstatic.com/images?q=tb...
99  https://encrypted-tbn0.gstatic.com/images?q=tb...

[100 rows x 1 columns]

In [386]:
fruits=[]
fr=dr3.find_elements_by_xpath('//a[@class="wXeWr islib nfEiy"]//img')
for i in fr:
    fruits.append(i.get_attribute('src'))
len(fruits)

200

In [387]:
fruits=fruits[:100]

In [388]:
fruits_img=pd.DataFrame({'Fruits images':fruits})
fruits_img

                                        Fruits images
0   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
..                                                ...
95  https://encrypted-tbn0.gstatic.com/images?q=tb...
96  https://encrypted-tbn0.gstatic.com/images?q=tb...
97  https://encrypted-tbn0.gstatic.com/images?q=tb...
98  https://encrypted-tbn0.gstatic.com/images?q=tb...
99  https://encrypted-tbn0.gstatic.com/images?q=tb...

[100 rows x 1 columns]

In [397]:
srch=dr3.find_element_by_name('q')
srch.send_keys('Machine learning')
btn=dr3.find_element_by_xpath('//button[@class="Tg7LZd"]').click()

In [400]:
machine=[]
ml=dr3.find_elements_by_xpath('//a[@class="wXeWr islib nfEiy"]//img')
for i in ml:
    machine.append(i.get_attribute('src'))
len(machine)

200

In [402]:
machine=machine[:100]

In [403]:
ML_img=pd.DataFrame({'Machine learning':machine})
ML_img

                                     Machine learning
0   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4   data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
..                                                ...
95  https://encrypted-tbn0.gstatic.com/images?q=tb...
96  https://encrypted-tbn0.gstatic.com/images?q=tb...
97  https://encrypted-tbn0.gstatic.com/images?q=tb...
98  https://encrypted-tbn0.gstatic.com/images?q=tb...
99  https://encrypted-tbn0.gstatic.com/images?q=tb...

[100 rows x 1 columns]

### Answer 4

In [334]:
dr3=webdriver.Chrome(r'F:\Python\chromedriver.exe')
dr3

In [335]:
u2='https://www.flipkart.com/'
dr3.get(u2)

In [336]:
sr1=dr3.find_element_by_name('q')
sr1.send_keys('reno 6 pro')

In [337]:
btn=dr3.find_element_by_xpath('//button[@class="L0Z3Pu"]')
btn.click()

In [342]:
b_n=[]
b=dr3.find_elements_by_xpath('//div[@class="_4rR01T"]')
for i in b:
    b_n.append(i.text[:5])
len(b_n)

14

In [344]:
link=[]
ln=dr3.find_elements_by_xpath('//a[@class="_1fQZEK"]')
for i in ln:
    link.append(i.get_attribute('href'))
len(link)

14

In [348]:
mn=[]
clr=[]
prc=[]
for i in link:
    dr3.get(i)
    try:
        m=dr3.find_element_by_xpath('//div[@class="_1AtVbE col-12-12"]//table[1]//tr[3]/td[2]//li')
        mn.append(m.text)
        c=dr3.find_element_by_xpath('//div[@class="_1AtVbE col-12-12"]//table[1]//tr[4]/td[2]//li')
        clr.append(c.text)
        pr=dr3.find_element_by_xpath('//div[@class="_30jeq3 _16Jk6d"]')
        prc.append(pr.text)
    except:
        mn.append('--')
        clr.append('--')
        prc.append('--')

In [349]:
len(mn)

14

In [350]:
len(clr)

14

In [351]:
len(prc)

14

In [353]:
dis=[]
res=[]
pros_type=[]
pros_core=[]
rom=[]
ram=[]
pr_cam=[]
sec_cam=[]
battery=[]
for i in link:
    dr3.get(i)
    dr3.find_element_by_xpath("//button[@class='_2KpZ6l _1FH0tX']").click()
    time.sleep(1)
    model=dr3.find_elements_by_xpath("//tr[@class='_1s_Smc row']")
    for n in model:
        text1=n.find_element_by_xpath("td[1]").text
        if text1=='Display Size':
            dis.append(n.find_element_by_xpath("td[2]").text)
        if text1 == 'Resolution':
            res.append(n.find_element_by_xpath("td[2]").text)
        try:   
            if text1== 'Processor Type':
                pros_type.append(n.find_element_by_xpath("td[2]").text)
        except:
                pros_type.append('--')            
        if text1 == 'Processor Core':
            pros_core.append(n.find_element_by_xpath("td[2]").text)
        if text1 == 'Internal Storage':
            rom.append(n.find_element_by_xpath("td[2]").text)
        if text1 == 'RAM':
            ram.append(n.find_element_by_xpath("td[2]").text)
        if text1 == 'Battery Capacity':
            battery.append(n.find_element_by_xpath("td[2]").text)
        if text1 == 'Primary Camera':
            pr_cam.append(n.find_element_by_xpath("td[2]").text)
        if text1 == 'Secondary Camera':
            sec_cam.append(n.find_element_by_xpath("td[2]").text)

In [354]:
print(len(dis))
print(len(res))
print(len(pros_type))
print(len(pros_core))
print(len(rom))
print(len(ram))
print(len(pr_cam))
print(len(sec_cam))
print(len(battery))

14
14
14
14
14
14
14
14
14

In [355]:
Mobile_data=pd.DataFrame({'Brand Name':b_n,'Product name':mn,'Color':clr,'Price':prc,'Display Size':dis,
                         'Display resolution':res,'Processor Type':pros_type,'Processor core':pros_core,
                         'RAM':ram,'ROM':rom,'Primary camera':pr_cam,'Secondary camera':pr_cam,
                         'Battery life':battery,'Product URL':link})

In [356]:
Mobile_data

,Brand Name,Product name,Color,Price,Display Size,Display resolution,Processor Type,Processor core,RAM,ROM,Primary camera,Secondary camera,Battery life,Product URL
0,OPPO,Reno6 Pro 5G,Stellar Black,"₹39,990",16.64 cm (6.55 inch),2400 x 1080 Pixels,MediaTek Dimensity 1200,Octa Core,12 GB,256 GB,64MP + 8MP + 2MP + 2MP,64MP + 8MP + 2MP + 2MP,4500 mAh,https://www.flipkart.com/oppo-reno6-pro-5g-ste...
1,OPPO,Reno6 Pro 5G,Aurora,"₹39,990",16.64 cm (6.55 inch),2400 x 1080 Pixels,MediaTek Dimensity 1200,Octa Core,12 GB,256 GB,64MP + 8MP + 2MP + 2MP,64MP + 8MP + 2MP + 2MP,4500 mAh,https://www.flipkart.com/oppo-reno6-pro-5g-aur...
2,OPPO,Reno5 Pro 5G,Astral Blue,"₹35,990",16.64 cm (6.55 inch),2400 x 1080 Pixels,MediaTek Dimensity 1000+ (MT6889),Octa Core,8 GB,128 GB,64MP + 8MP + 2MP + 2MP,64MP + 8MP + 2MP + 2MP,4350 mAh,https://www.flipkart.com/oppo-reno5-pro-5g-ast...
3,OPPO,Reno4 Pro,Silky White,"₹34,990",16.51 cm (6.5 inch),2400 x 1080 Pixels,Qualcomm Snapdragon 720G Octa Core,Octa Core,8 GB,128 GB,48MP + 8MP + 2MP + 2MP,48MP + 8MP + 2MP + 2MP,4000 mAh,https://www.flipkart.com/oppo-reno4-pro-silky-...
4,OPPO,Reno3 Pro,Auroral Blue,"₹25,959",16.26 cm (6.4 inch),2400 x 1080 Pixels,MediaTek Helio P95,Octa Core,8 GB,256 GB,64MP + 13MP + 8MP + 2MP,64MP + 13MP + 8MP + 2MP,4025 mAh,https://www.flipkart.com/oppo-reno3-pro-aurora...
5,OPPO,Reno3 Pro,Sky White,"₹24,728",16.26 cm (6.4 inch),2400 x 1080 Pixels,MediaTek Helio P95,Octa Core,8 GB,128 GB,64MP + 13MP + 8MP + 2MP,64MP + 13MP + 8MP + 2MP,4025 mAh,https://www.flipkart.com/oppo-reno3-pro-sky-wh...
6,OPPO,Reno3 Pro,Midnight Black,"₹26,649",16.26 cm (6.4 inch),2400 x 1080 Pixels,MediaTek Helio P95,Octa Core,8 GB,256 GB,64MP + 13MP + 8MP + 2MP,64MP + 13MP + 8MP + 2MP,4025 mAh,https://www.flipkart.com/oppo-reno3-pro-midnig...
7,OPPO,Reno5 Pro 5G,Starry Black,"₹35,990",16.64 cm (6.55 inch),2400 x 1080 Pixels,MediaTek Dimensity 1000+ (MT6889),Octa Core,8 GB,128 GB,64MP + 8MP + 2MP + 2MP,64MP + 8MP + 2MP + 2MP,4350 mAh,https://www.flipkart.com/oppo-reno5-pro-5g-sta...
8,OPPO,Reno4 Pro Special Edition,Galactic Blue,"₹34,990",16.51 cm (6.5 inch),2400 x 1080 Pixels,Qualcomm Snapdragon 720G Octa Core,Octa Core,8 GB,128 GB,48MP + 8MP + 2MP + 2MP,48MP + 8MP + 2MP + 2MP,4000 mAh,https://www.flipkart.com/oppo-reno4-pro-specia...
9,OPPO,Reno3 Pro,Midnight Black,"₹24,799",16.26 cm (6.4 inch),2400 x 1080 Pixels,MediaTek Helio P95,Octa Core,8 GB,128 GB,64MP + 13MP + 8MP + 2MP,64MP + 13MP + 8MP + 2MP,4025 mAh,https://www.flipkart.com/oppo-reno3-pro-midnig...
10,OPPO,Reno4 Pro,Starry Night,"₹34,990",16.51 cm (6.5 inch),2400 x 1080 Pixels,Qualcomm Snapdragon 720G Octa Core,Octa Core,8 GB,128 GB,48MP + 8MP + 2MP + 2MP,48MP + 8MP + 2MP + 2MP,4000 mAh,https://www.flipkart.com/oppo-reno4-pro-starry...
11,OPPO,Reno4 Pro Special Edition,Starry Night,"₹34,990",16.51 cm (6.5 inch),2400 x 1080 Pixels,Qualcomm Snapdragon 720G Octa Core,Octa Core,8 GB,128 GB,48MP + 8MP + 2MP + 2MP,48MP + 8MP + 2MP + 2MP,4000 mAh,https://www.flipkart.com/oppo-reno4-pro-specia...
12,OPPO,Reno3 Pro,Auroral Blue,"₹24,990",16.26 cm (6.4 inch),2400 x 1080 Pixels,MediaTek Helio P95,Octa Core,8 GB,128 GB,64MP + 13MP + 8MP + 2MP,64MP + 13MP + 8MP + 2MP,4025 mAh,https://www.flipkart.com/oppo-reno3-pro-aurora...
13,OPPO,Reno3 Pro,Sky White,"₹27,990",16.26 cm (6.4 inch),2400 x 1080 Pixels,MediaTek Helio P95,Octa Core,8 GB,256 GB,64MP + 13MP + 8MP + 2MP,64MP + 13MP + 8MP + 2MP,4025 mAh,https://www.flipkart.com/oppo-reno3-pro-sky-wh...

In [357]:
Mobile_data.to_csv('Mobile_data')

### Answer 5

In [859]:
dr5=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u5='https://www.google.co.in/maps/@21.2074176,72.792461,15z?hl=en'
dr5.get(u5)

In [860]:
dr5.maximize_window()

In [861]:
search=dr5.find_element_by_name('q')
search.send_keys('Surat,Gujarat')

In [872]:
btn=dr5.find_element_by_xpath('//button[@class="searchbox-searchbutton"]').click()

In [865]:
a=dr5.find_element_by_xpath('//div[@class="fGpujc-scene-DpzZDb noprint"]//button').click()

In [866]:
lat=dr5.find_elements_by_xpath('//button[@class="nGhxh-tv6Bve GaSlwc-uhFGfc-WsjYwc-zfKixb-UacCoe"]')
lat_long=[]
for i in lat:
    lat_long.append(i.text)

In [867]:
lat_long

['21.197025, 72.820439']

In [870]:
search.clear()

In [871]:
search.send_keys('Mumbai')

In [873]:
m=dr5.find_element_by_xpath('//button[@class="d4HG7-G0jgYd-OQl0D"]').click()

In [874]:
ma=dr5.find_elements_by_xpath('//button[@class="nGhxh-tv6Bve GaSlwc-uhFGfc-WsjYwc-zfKixb-UacCoe"]')
for i in ma:
    lat_long.append(i.text)

In [875]:
lat_long

['21.197025, 72.820439', '19.005358, 72.853389']

### Answer 6

In [490]:
dr6=webdriver.Chrome(r'F:\Python\chromedriver.exe')
dr6

In [491]:
u6='https://trak.in/india-startup-funding-investment-2015/'
dr6.get(u6)

In [513]:
dt=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-48 dataTable no-footer"]//tr//td[2]') 
dat=[]
for i in dt:
    dat.append(i.text.replace('\n',''))

In [517]:
dt2=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-49 dataTable no-footer"]//tr//td[2]') 
dat2=[]
for i in dt2:
    dat2.append(i.text.replace('\n',''))

In [519]:
dt3=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-50 dataTable no-footer"]//tr//td[2]') 
dat3=[]
for i in dt3:
    dat3.append(i.text.replace('\n',''))

In [525]:
date=dat+dat2+dat3

In [527]:
st=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-48 dataTable no-footer"]//tr//td[3]') 
strt=[]
for i in st:
    strt.append(i.text.replace('\n',''))

In [529]:
st2=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-49 dataTable no-footer"]//tr//td[3]') 
strt2=[]
for i in st2:
    strt2.append(i.text.replace('\n',''))

In [531]:
st3=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-50 dataTable no-footer"]//tr//td[3]') 
strt3=[]
for i in st3:
    strt3.append(i.text.replace('\n',''))

In [533]:
startup=strt+strt2+strt3

In [536]:
ind=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-48 dataTable no-footer"]//tr//td[4]') 
indus=[]
for i in ind:
    indus.append(i.text.replace('\n',''))
ind2=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-49 dataTable no-footer"]//tr//td[4]') 
indus2=[]
for i in ind2:
    indus2.append(i.text.replace('\n',''))
ind3=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-50 dataTable no-footer"]//tr//td[4]') 
indus3=[]
for i in ind3:
    indus3.append(i.text.replace('\n',''))

In [541]:
industry=indus+indus2+indus3

In [542]:
sb=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-48 dataTable no-footer"]//tr//td[5]') 
sub=[]
for i in sb:
    sub.append(i.text.replace('\n',''))
sb2=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-49 dataTable no-footer"]//tr//td[5]') 
sub2=[]
for i in sb2:
    sub2.append(i.text.replace('\n',''))
sb3=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-50 dataTable no-footer"]//tr//td[5]') 
sub3=[]
for i in sb3:
    sub3.append(i.text.replace('\n',''))

In [548]:
subvertical=sub+sub2+sub3

In [551]:
ct=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-48 dataTable no-footer"]//tr//td[6]') 
cty=[]
for i in ct:
    cty.append(i.text.replace('\n',''))
ct2=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-49 dataTable no-footer"]//tr//td[6]') 
cty2=[]
for i in ct2:
    cty2.append(i.text.replace('\n',''))
ct3=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-50 dataTable no-footer"]//tr//td[6]') 
cty3=[]
for i in ct3:
    cty3.append(i.text.replace('\n',''))

In [555]:
city=cty+cty2+cty3

In [556]:
inv=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-48 dataTable no-footer"]//tr//td[7]') 
invt=[]
for i in inv:
    invt.append(i.text.replace('\n',''))
inv2=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-49 dataTable no-footer"]//tr//td[7]') 
invt2=[]
for i in inv2:
    invt2.append(i.text.replace('\n',''))
inv3=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-50 dataTable no-footer"]//tr//td[7]') 
invt3=[]
for i in inv3:
    invt3.append(i.text.replace('\n',''))

In [559]:
investment=invt+invt2+invt3

In [573]:
ity=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-48 dataTable no-footer"]//tr//td[8]') 
ityp=[]
for i in ity:
    ityp.append(i.text.replace('\n',''))
ityp2=[]
try:
    ity2=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-49 dataTable no-footer"]//tr//td[8]') 
    for i in ity2:
        ityp2.append(i.text.replace('\n',''))
except:
    ityp2.append('--')
ity3=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-50 dataTable no-footer"]//tr//td[8]') 
ityp3=[]
for i in inv3:
    ityp3.append(i.text.replace('\n',''))

In [574]:
investment_type=ityp+ityp2+ityp3

In [576]:
am=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-48 dataTable no-footer"]//tr//td[9]') 
amt=[]
for i in am:
    amt.append(i.text.replace('\n',''))
am2=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-49 dataTable no-footer"]//tr//td[9]') 
amt2=[]
for i in am2:
    amt2.append(i.text.replace('\n',''))
am3=dr6.find_elements_by_xpath('//table[@class="tablepress tablepress-id-50 dataTable no-footer"]//tr//td[9]') 
amt3=[]
for i in am3:
    amt3.append(i.text.replace('\n',''))

In [577]:
amount=amt+amt2+amt3

In [580]:
funding_deals=pd.DataFrame({'Date':date,'Start up name':startup,'Industry':industry,'Sub vartical':subvertical,
                           'City':city,'Investment':investment,'Investment type':investment_type,
                           'Amount':amount})

In [581]:
funding_deals

,Date,Start up name,Industry,Sub vartical,City,Investment,Investment type,Amount
0,15/07/2020,Flipkart,E-commerce,E-commerce,Bangalore,Walmart Inc,M&A,"1,200,000,000"
1,16/07/2020,Vedantu,EduTech,Online Tutoring,Bangalore,Coatue Management,Series D,"100,000,000"
2,16/07/2020,Crio,EduTech,Learning Platform for Developers,Bangalore,021 Capital,pre-Series A,"934,160"
3,14/07/2020,goDutch,FinTech,Group Payments,Mumbai,"Matrix India,Y Combinator, Global Founders Cap...",Seed,"1,700,000"
4,13/07/2020,Mystifly,Airfare Marketplace,"Ticketing, Airline Retailing, and Post-Ticketi...",Singapore and Bangalore,Recruit Co. Ltd.,pre-Series B,"3,300,000"
5,09/07/2020,JetSynthesys,Gaming and Entertainment,Gaming and Entertainment,Pune,Adar Poonawalla and Kris Gopalakrishnan.,Venture-Series Unknown,"400,000"
6,10/07/2020,gigIndia,Marketplace,"Crowd Sourcing, Freelance",Pune,Incubate Fund India and Beyond Next Ventures,pre-Series A,"974,200"
7,15/07/2020,PumPumPum,Automotive Rental,Used Car-leasing platform,Gurgaon,Early Adapters Syndicate,Seed,"292,800"
8,14/07/2020,FLYX,OTT Player,Streaming Social Network,New York and Delhi,"Raj Mishra, founder of AIT Global Inc",pre-Seed,"200,000"
9,13/07/2020,Open Appliances Pvt. Ltd.,Information Technology,Internet-of-Things Security Solutions,Bangalore,Unicorn India Ventures,Venture-Series Unknown,"500,000"
10,15/08/2020,Practo,HealthTech,Health care and Wellness,Bangalore,A1A Company,Series F,"32,000,000"
11,13/08/2020,Medlife,E-commerce,Online Pharmacy,Bangalore,Prasid Uno Family Trust and SC Credit Fund,,"23,000,000"
12,13/08/2020,HungerBox,FoodTech,Online Food Delivery Service,Bangalore,"One97, Sabre Partners Trust, Pratithi Investme...",Series D1,"1,560,000"
13,04/08/2020,Dunzo,Hyper-local Logistics,Online Delivery Services,Bangalore,Existing Backers,In Progress,"30,000,000"
14,11/08/2020,Terra.do,EduTech,"Online Climate School, E-learning","Stanford, California,","Stanford Angels and Entrepreneurs (India), BEE...",Seed,"1,400,000"
15,12/08/2020,Classplus,EduTech,"E-learning, Online Tutoring",Noida,Falcon Edge,In Progress,"upto 15,000,000"
16,14/08/2020,Niyo,FinTech,Financial Services,Bangalore,Niyo Solutions Inc.,,"6,000,000"
17,10/08/2020,ZestMoney,FinTech,Financial Services,Bangalore,Primrose Hills Ventures,,"10,670,000"
18,07/08/2020,FreshToHome,E-commerce,Food Delivery,Bangalore,Ascent Capital,Venture,"16,200,000"
19,13/08/2020,Eduvanz,FinTech,Financial Services,Mumbai,"Sequoia India, Unitus",Series A,"5,000,000"
20,08/09/2020,Byju’s,EduTech,Online Tutoring,Bangalore,"Silver Lake, Tiger Global, General Atlantic an...","Silver Lake, Tiger Global, General Atlantic an...","500,000,000"
21,12/09/2020,mCaffeine,Personal Care,Skincare & Haircare,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...","Amicus Capital Private Equity I LLP, Amicus Ca...","3,000,000"
22,09/09/2020,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Rainmatter Capital,"370,000"
23,02/09/2020,Winzo,Online Gaming,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...","Kalaari Capital Partners, IndigoEdge Managemen...","15,500,000"
24,09/09/2020,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...","Alpha Wave Incubation, Exfinity Venture Partne...","4,500,000"
25,07/09/2020,Melorra,E-commerce,Online Jewelry Store,Bangalore,"Shadow Holdings, Lightbox.","Shadow Holdings, Lightbox.","upto 8,900,000"
26,07/09/2020,1mg,E-commerce,Online Pharmacy,Gurgaon,"Gaja Capital, Tata Capital, Partners Group","Gaja Capital, Tata Capital, Partners Group","100,000,000"
27,31/08/2020,mfine,HealthTech,On-Demand Healthcare Services,Bangalore,Caretech Pte Inc,Caretech Pte Inc,"5,400,000"
28,31/08/2020,Apna,Human Resources,Recruitment Platform,Bangalore,Lightspeed India and Sequoia Capital India,Lightspeed India and Sequoia Capital India,"8,000,000"
29,03/09/2020,Railofy,Transportation,WL & RAC protection platform,Mumbai,Chiratae Ventures,Chiratae Ventures,"950,000"

### Answer 7

In [680]:
dr7=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u7='https://www.digit.in./'
dr7.get(u7)

In [681]:
dr7.maximize_window()

In [683]:
find=dr7.find_element_by_xpath('//div[@class="menu"]//li[3]').click()

In [684]:
find2=dr7.find_element_by_xpath('//div[@class="Listbrand"]//li[10]').click()

In [687]:
nam=[]
name=dr7.find_elements_by_xpath('//div[@class="TopNumbeHeading active sticky-footer"]//h3')
for i in name:
    nam.append(i.text)
len(nam)

7

In [689]:
os=[]
op=dr7.find_elements_by_xpath('//div[@class="Spcs-details"]//tr[3]/td[3]')
for i in op:
    os.append(i.text)
len(os)

7

In [690]:
disply=[]
ds=dr7.find_elements_by_xpath('//div[@class="Spcs-details"]//tr[4]/td[3]')
for i in ds:
    disply.append(i.text)
len(disply)

7

In [692]:
pross=[]
ps=dr7.find_elements_by_xpath('//div[@class="Spcs-details"]//tr[5]/td[3]')
for i in ps:
    pross.append(i.text)
len(pross)

7

In [693]:
memry=[]
mr=dr7.find_elements_by_xpath('//div[@class="Spcs-details"]//tr[6]/td[3]')
for i in mr:
    memry.append(i.text)
len(memry)

7

In [695]:
weight=[]
wg=dr7.find_elements_by_xpath('//div[@class="Spcs-details"]//tr[7]/td[3]')
for i in wg:
    weight.append(i.text)

In [696]:
dimn=[]
dm=dr7.find_elements_by_xpath('//div[@class="Spcs-details"]//tr[8]/td[3]')
for i in dm:
    dimn.append(i.text)
len(dimn)

7

In [697]:
grph=[]
gr=dr7.find_elements_by_xpath('//div[@class="Spcs-details"]//tr[9]/td[3]')
for i in gr:
    grph.append(i.text)
len(grph)

7

In [698]:
pric=[]
pr=dr7.find_elements_by_xpath('//table[@id="summtable"]//tr//td[3]')
for i in pr:
    pric.append(i.text)
len(pric)

7

In [700]:
Laptop_data=pd.DataFrame({'Name':nam,'Processor':pross,'Memory':memry,'Weight':weight,
                         'Dimentions':dimn,'Graphics':grph,'Price':pric})

In [701]:
Laptop_data

,Name,Processor,Memory,Weight,Dimentions,Graphics,Price
0,ALIENWARE AREA 51M R2,10th Generation Intel® Core™ i7-10700 | 2.90 GHz,1 TB SSD/16 GBGB DDR4,4.1,27.65 x 402.6 x 319.14,Intel® UHD Graphics 630,N/A
1,ALIENWARE M15 R3,10th Generation Intel® Core™ i9-10980HK | NA,1 TB SSD/16 GBGB DDR4,NA,NA,NA,"₹ 341,990"
2,ASUS ROG STRIX SCAR 15,AMD Ryzen™ 9 5900HX | 3.3 GHz,1 TB SSD/16 GBGB DDR4,2.30,35.4 x 25.9 x 2.26,NVIDIA® GeForce RTX™ 3070,N/A
3,ASUS ROG ZEPHYRUS G14,AMD 3rd Generation Ryzen 9 | 3.3 GHz,1 TB SSD/16 GBGB DDR4,1.65,32.5 x 22.1 x 1.8,NVIDIA GeForce RTX 2060,"₹ 164,990"
4,LENOVO LEGION 5I,10th Generation Intel® Core™ i5-10300H | 2.50 GHz,1 TB SSD/16 GBGB DDR4,2.3,363.06 x 259.61 x 23.57,NVIDIA® GeForce® GTX 1650 4GB,"₹ 76,988"
5,ASUS ROG ZEPHYRUS DUO 15,Intel Core i7 10th Gen 10875H | NA,512 GB SSD/4 GBGB DDR4,2.4,268.30 x 360.00 x 20.90,NVIDIA GeForce RTX 2070 Max-Q,"₹ 185,000"
6,ACER ASPIRE 7 GAMING,AMD Ryzen™ 5-5500U hexa-core | NA,512 GB SSD/8 GBGB DDR4,2.15,2.29 x 36.3 x 25.4,NVIDIA® GeForce® GTX 1650,"₹ 64,370"

### Answer 8

In [732]:
dr8=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u8='https://www.forbes.com/?sh=1f7288e72254'
dr8.get(u8)

In [733]:
dr8.maximize_window()

In [734]:
find=dr8.find_element_by_xpath('//div[@class="footer__nav"]/a[2]').click()

In [735]:
find=dr8.find_element_by_xpath('//a[@class="chansec-special-feature__card card--blog"]').click()

In [736]:
name=[]
worth=[]
age=[]
country=[]
source=[]
industry=[]
na=dr8.find_elements_by_xpath('//div[@class="personName"]')
for i in na:
    name.append(i.text)
wr=dr8.find_elements_by_xpath('//div[@class="netWorth"]')
for i in wr:
    worth.append(i.text)
ag=dr8.find_elements_by_xpath('//div[@class="age"]')
for i in ag:
    age.append(i.text)
cn=dr8.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
for i in cn:
    country.append(i.text)
sr=dr8.find_elements_by_xpath('//div[@class="source"]')
for i in sr:
    source.append(i.text)
inds=dr8.find_elements_by_xpath('//div[@class="category"]')
for i in inds:
    industry.append(i.text)

In [739]:
Billionaires_data=pd.DataFrame({'Name':name,'Net Worth':worth,'Age':age,'Country/Territory':country,
                   'Source':source,'Industry':industry})

In [740]:
Billionaires_data

,Name,Net Worth,Age,Country/Territory,Source,Industry
0,Jeff Bezos,$177 B,57,United States,Amazon,Technology
1,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
2,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
3,Bill Gates,$124 B,65,United States,Microsoft,Technology
4,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
...,...,...,...,...,...,...
195,Harry Triguboff,$11.2 B,88,Australia,real estate,Real Estate
196,Leonid Fedun & family,$11.1 B,65,Russia,oil,Energy
197,Eyal Ofer,$11.1 B,70,Israel,"real estate, shipping",Diversified
198,Evan Spiegel,$11.1 B,30,United States,Snapchat,Technology
199,Luis Carlos Sarmiento,$11 B,88,Colombia,banking,Finance & Investments

### Answer 9

In [759]:
dr9=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u9='https://www.youtube.com/watch?v=aG8KWYko8VY'
dr9.get(u9)

In [760]:
dr9.maximize_window()

In [779]:
page=dr9.find_element_by_tag_name('html')
page.send_keys(Keys.END)

In [808]:
#for scrolling window
comnt=dr9.find_elements_by_xpath('//yt-formatted-string[@id="content-text"]')
dr9.execute_script("window.scrollBy(0,5000000,)","")

In [809]:
comment=[]
for i in comnt:
    comment.append(i.text)

In [817]:
len(comment)
comm=comment[:500]
len(comm)

500

In [815]:
upv=dr9.find_elements_by_xpath('//span[@id="vote-count-middle"] ')
upvote=[]
for i in upv:
    upvote.append(i.text)
len(upvote)  
upvt=upvote[:500]
len(upvt)

580

In [818]:
upvt=upvote[:500]
len(upvt)

500

In [819]:
ctim=dr9.find_elements_by_xpath('//yt-formatted-string[@class="published-time-text above-comment style-scope ytd-comment-renderer"]/a')
comtim=[]
for i in ctim:
    comtim.append(i.text)
len(comtim)  
comtm=comtim[:500]

580

In [820]:
comtm=comtim[:500]
len(comtm)

500

In [822]:
yutube_data=pd.DataFrame({'Comments':comm,'Up Vote for comments':upvt,'Comment Psot':comtm})

In [823]:
yutube_data

,Comments,Up Vote for comments,Comment Psot
0,This Series is an INSPIRATION for Students. It...,1.8K,1 week ago
1,Other OTT platforms- Let's corrupt the mind of...,1.1K,1 week ago
2,This black and white season didn't get coloure...,16,6 hours ago
3,Not only in kota struggle can be seen in every...,90,3 days ago
4,"It was so so Amazing. The cinematography, the ...",10,3 hours ago
...,...,...,...
495,"""Tough battle ladne me confidence aata hai lif...",84,2 weeks ago
496,I was wondering how much money did netflix giv...,1,1 week ago
497,Let me tell you the person with jeetu bhaiya i...,,1 week ago
498,Yrr aspirants me sandeep bhaiya aur Kota facto...,,1 week ago
499,👉 Toppers kabhi late start nahi karte. Big lie...,,2 days ago

### Answer 10

In [11]:
dr10=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u10='https://www.hostelworld.com/'
dr10.get(u10)
time.sleep(1)
dr10.maximize_window()

In [19]:
srch=dr10.find_element_by_id('location-text-input-field').click()

In [26]:
find1=dr10.find_element_by_xpath('//div[@class="search"]//input')

In [27]:
find1.send_keys('London')

In [28]:
a=dr10.find_element_by_xpath('//ul[@id="predicted-search-results"]/li[2]/div').click()

In [29]:
btn=dr10.find_element_by_id('search-button').click()

In [327]:
name=[]
location=[]
rating=[]
total_rev=[]
all_rev=[]
link=[]
pric=[]
for i in range(1,4):
    pg='https://www.hostelworld.com/s?q=London,%20England&country=England&city=London&type=city&id=3&from=2021-09-26&to=2021-09-29&guests=2&page=0'+str(i)
    dr10.get(pg)
    time.sleep(10)
    nam=dr10.find_elements_by_xpath('//h2[@class="title title-6"]')
    loc=dr10.find_elements_by_xpath('//div[@class="subtitle body-3"]/a/span[1]')
    rat=dr10.find_elements_by_xpath('//div[@class="rating rating-summary-container big"]')
    lnk=dr10.find_elements_by_xpath('//h2[@class="title title-6"]//a[1]')
    rev=dr10.find_elements_by_xpath('//div[@class="keyword"]/span[1]')
    rev1=dr10.find_elements_by_xpath('//div[@class="reviews"]')
    prc=dr10.find_elements_by_xpath('//div[@class="prices-col"]//a[1]')
    for i in nam:
        name.append(i.text)
    for i in loc:
        location.append(i.text)
    for i in rat:
        try:
            rating.append(i.text.split('\n'))
        except:
            rating.append('--')
    for i in lnk:
        link.append(i.get_attribute('href'))
    for i in rev:
        all_rev.append(i.text)
    for i in rev1:
        total_rev.append(i.text)
    for i in prc:
        pric.append(i.text.replace('From\n',' ').split('\n'))

In [339]:
all_rev1=all_rev[:80]

In [332]:
rating1=[item[0] for item in rating]

In [333]:
d_pr=[item[1] for item in pric]
len(d_pr)

80

In [313]:
p_pr=[item[0] for item in pric]

In [315]:
len(link)

80

In [316]:
prty=[]
for i in link:
    dr10.get(i)
    time.sleep(2)
    try:
        prt=dr10.find_element_by_xpath('//div[@class="content collapse-content"]')
        prty.append(prt.text)
    except:
        prty.append('--')

In [317]:
len(prty)

80

In [341]:
Hotels_data=pd.DataFrame({'Name':name,'Locatiob from city':location,'Ratings':rating,
                         "Total review":total_rev,'Overall review':all_rev1,'Private price':p_pr,
                         'Dorm price':d_pr,'Property and facility':prty})

In [342]:
Hotels_data

,Name,Locatiob from city,Ratings,Total review,Overall review,Private price,Dorm price,Property and facility
0,PubLove @ The Rose & Crown,Hostel - 1.6km from city centre,"[7.9, Very Good, 101 Total Reviews]",101 Total Reviews,Fabulous,Privates Rs5732,Dorms Rs1651,COVID-19 Policy Update\n\nIn response to Coron...
1,The Finnish Church in London,Hostel - 4.5km from city centre,"[10, Superb, 190 Total Reviews]",190 Total Reviews,Fabulous,Privates Rs6268,Dorms Rs2638,The Badger is unique for London in that we hav...
2,Saint James Backpackers,Hostel - 5.5km from city centre,"[7.4, Very Good, 1763 Total Reviews]",1763 Total Reviews,Superb,Privates Rs8726,Dorms Rs2401,Wombat's The City Hostel London is definitely ...
3,"PubLove @ The Green Man, Paddington",Hostel - 4.3km from city centre,"[6.2, Good, 394 Total Reviews]",394 Total Reviews,Very Good,Privates Rs8786,Dorms Rs1550,The hostel is housed in a historic building in...
4,Mornington Camden,Hostel - 4.1km from city centre,"[10, Superb, 41 Total Reviews]",41 Total Reviews,Superb,Privates Rs7683,Dorms Rs3169,COVID 19 Policy Update.\nIn response to Corona...
...,...,...,...,...,...,...,...,...
75,Victor Hotel,Hotel - 1.8km from city centre,"[No Rating, 2 Total Reviews]",2 Total Reviews,Very Good,Privates Rs12832,No Dorms Available,--
76,Best Western Boltons London Kensington,Hotel - 5.4km from city centre,"[2.0, Rating, 2 Total Reviews]",2 Total Reviews,Very Good,Privates Rs14832,No Dorms Available,Combining Victorian charm with Modern Luxury T...
77,Park Hotel Essex,Hotel - 24.1km from city centre,"[No Rating, 108 Total Reviews]",108 Total Reviews,Superb,Privates Rs4751,No Dorms Available,This Hotel is the right choice for visitors wh...
78,Cranbrook Hotel,Hotel - 14.8km from city centre,"[No Rating, 58 Total Reviews]",58 Total Reviews,No Rating,Privates Rs4650,No Dorms Available,We are located about twenty minutes by tube fr...
79,St. Athans,Bed and Breakfast - 2.9km from city centre,"[7.6, Very Good, 236 Total Reviews]",236 Total Reviews,Rating,Privates Rs6470,No Dorms Available,"The St Athans Hotel is a proudly simple, famil..."