In [1]:
#!pip install selenium

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [3]:
driver=webdriver.Chrome(r"F:\Python\chromedriver.exe")
driver

# Answer 1

In [4]:
u1='https://www.naukri.com/'
driver.get(u1)

In [5]:
search_job=driver.find_element_by_name('keyword')
search_job

In [6]:
search_job.send_keys('Data analyst')

In [7]:
#search_job.find_element_by_xpath('//input[@class="sugInp"]')
#search_job.send_keys('Data science')

In [8]:
search_location=driver.find_element_by_id('qsb-location-sugg')
search_location

In [9]:
search_location.send_keys('Bangalore')

In [10]:
search_button=driver.find_element_by_xpath('//button[@class="btn"]')
search_button

In [11]:
search_button.click()

In [22]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [23]:
time.sleep(5)
job_title=[]
for i in title_tag:
    job_title.append(i.text.replace('/',''))
print(job_title)

['Executive Data Analyst', 'Senior Data Analyst', 'Business Data Analyst - MIS & Reporting', 'Senior Data Analyst', 'Senior Data Analyst', 'Senior Data Analyst', 'Senior Data Analyst - Supporting Audits', 'SENIOR MARKETING DATA ANALYST', 'Data Analyst - Quantitative Support Team', 'Urgent Openings For Data Analysts.', 'Sr Data Analyst', 'Data AnalystData Source Engineer - SOQLSOSL', 'Data Analyst', 'SQL Data Analyst  Data Source', 'Business Data Analyst - AlteryxHadoop', 'Data Analyst', 'Senior Data Analyst', 'Senior Data Analyst', 'Data Analyst', 'Data Analyst']

In [20]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_tag:
    company_name.append(i.text.replace(',',''))
print(company_name)   
print(len(company_name))

['Gokaldas Exports Ltd', 'Virtusa Consulting Services Pvt Ltd', 'INTERTRUST GROUP', 'IDC Corporate', 'Flipkart', 'Flipkart', 'Visa Inc.', 'McAfee Software (India) Pvt. Ltd', 'TresVista Financial', 'Flipkart Internet Private Limited', 'Target Corporation India Pvt Ltd', 'Talent Placers', 'Sharechat', 'Capco Technologies Pvt Ltd', 'Talent Placers', 'Flipkart', 'Valgen Decision Technologies Pvt Ltd', 'Kwalee ltd.', 'COLLABERA', 'Virtusa Consulting Services Pvt Ltd']
20

In [19]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_location=[]
for i in location_tag:
    job_location.append(i.text.replace(',',''))
print(job_location) 
print(len(job_location))

['Bangalore/Bengaluru', 'Hyderabad/Secunderabad Pune Gurgaon/Gurugram Chennai Bangalore/Bengaluru Mumbai (All Areas)\n(WFH during Covid)', 'Mumbai Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Mumbai Pune Bangalore/Bengaluru', 'Bangalore/Bengaluru(Devarabeesana Halli)\n(WFH during Covid)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Gurgaon/Gurugram Bangalore/Bengaluru Mumbai (All Areas)\n(WFH during Covid)', 'Hyderabad/Secunderabad Pune Chennai Bangalore/Bengaluru\n(WFH during Covid)']
20

In [18]:
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experiance=[]
for i in exp_tag:
    experiance.append(i.text.replace(',',''))
print(experiance)
print(len(experiance))

['0-3 Yrs', '8-12 Yrs', '3-8 Yrs', '3-6 Yrs', '2-3 Yrs', '3-8 Yrs', '8-13 Yrs', '3-7 Yrs', '0-1 Yrs', '1-6 Yrs', '6-11 Yrs', '2-7 Yrs', '1-2 Yrs', '5-8 Yrs', '5-8 Yrs', '1-2 Yrs', '5-7 Yrs', '5-10 Yrs', '2-5 Yrs', '5-10 Yrs']
20

In [24]:
data_analyst=pd.DataFrame({'Job title':job_title,'Conpant name':company_name,'Job location':job_location,'Exp required':experiance})

In [25]:
data_analyst[:11]

,Job title,Conpant name,Job location,Exp required
0,Executive Data Analyst,Gokaldas Exports Ltd,Bangalore/Bengaluru,0-3 Yrs
1,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,Hyderabad/Secunderabad Pune Gurgaon/Gurugram C...,8-12 Yrs
2,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,Mumbai Bangalore/Bengaluru,3-8 Yrs
3,Senior Data Analyst,IDC Corporate,Bangalore/Bengaluru,3-6 Yrs
4,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,2-3 Yrs
5,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-8 Yrs
6,Senior Data Analyst - Supporting Audits,Visa Inc.,Bangalore/Bengaluru,8-13 Yrs
7,SENIOR MARKETING DATA ANALYST,McAfee Software (India) Pvt. Ltd,Bangalore/Bengaluru,3-7 Yrs
8,Data Analyst - Quantitative Support Team,TresVista Financial,Mumbai Pune Bangalore/Bengaluru,0-1 Yrs
9,Urgent Openings For Data Analysts.,Flipkart Internet Private Limited,Bangalore/Bengaluru(Devarabeesana Halli)\n(WFH...,1-6 Yrs
10,Sr Data Analyst,Target Corporation India Pvt Ltd,Bangalore/Bengaluru,6-11 Yrs

# Answer 2

In [184]:
driver1=webdriver.Chrome(r"F:\Python\chromedriver.exe")
driver1

In [185]:
u2='https://www.naukri.com/'
driver1.get(u2)

In [186]:
job_search=driver1.find_element_by_name('keyword')
job_search

In [187]:
job_search.send_keys('Data scientist')

In [188]:
search_loc=driver1.find_element_by_id('qsb-location-sugg')
search_loc

In [189]:
search_loc.send_keys('Bangalore')

In [190]:
btn=driver1.find_element_by_xpath('//button[@class="btn"]')
btn

In [191]:
btn.click()

In [192]:
time.sleep(5)
j_titl=driver1.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_titl=[]
for i in j_titl:
    job_titl.append(i.text.replace(',',''))
print('\n',job_titl)

 ['Data Scientist', 'Cognitive Data Scientist', 'Lead Data Scientist', 'Sr Data Scientist', 'Sr Data Scientist', 'Senior Data Scientist', 'Lead Data Scientist - Machine Learning/ Data Mining', 'Principal Data Scientist', 'Data Scientist Manager 10+ Years Bangalore/Mumbai/Gurugram/Chennai', 'Chief Data Scientist', 'Data Scientist 3', 'Data Scientist + Python + Big DATA', 'Senior Data Scientist', 'Data Scientist: Advanced Analytics', 'Data Scientist', 'Data Scientist', 'Senior Data Scientist Payments compliance', 'Senior Data Scientist', 'Principal Applied Math Stats (Senior-Data Scientist)', 'Senior Data Scientist']

In [193]:
com_tg=driver1.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
com_nam=[]
for i in com_tg:
    com_nam.append(i.text.replace(',',''))
print(com_nam)

['Oracle India Pvt. Ltd.', 'IBM India Pvt. Limited', 'Zycus Infotech Pvt Ltd', 'IBM India Pvt. Limited', 'IBM India Pvt. Limited', 'TalentStack', 'Wrackle Technologies Pvt Ltd', 'Narayana Heath', 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED', 'Zycus Infotech Pvt Ltd', 'ANI Technologies Pvt Ltd (Olacabs)', 'Capgemini Technology Services India Limited', 'Bigshyft Hiring for Noodle.ai', 'IBM India Pvt. Limited', 'Schneider Electric India Pvt. Ltd.', 'IBM India Pvt. Limited', 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED', 'Rakuten Inc.', 'AT and T Global Business Services India P. Ltd.', 'Kwalee India Pvt Ltd.']

In [194]:
loc_tg=driver1.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_loc=[]
for i in loc_tg:
    job_loc.append(i.text.replace(',',''))
print(job_loc)
print(len(job_loc))

['Noida Bangalore/Bengaluru', 'Bengaluru/Bangalore', 'Bangalore/Bengaluru', 'Bengaluru/Bangalore', 'Bangalore/Bengaluru', 'Mumbai Gurgaon/Gurugram Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Gurgaon/Gurugram Chennai Bangalore/Bengaluru Mumbai (All Areas)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad Chennai Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bengaluru/Bangalore', 'Bangalore/Bengaluru', 'Bengaluru/Bangalore', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']
20

In [195]:
des_tg=driver1.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_link=[]
for i in des_tg:
    job_link.append(i.get_attribute('href'))
len(job_link)

20

In [196]:
job_des=[]
for i in job_link:
    driver1.get(i)
    try:
        job_de=driver1.find_element_by_xpath('//section[@class="job-desc"]' and '//section[@class="getJobDescription JD av_textblock_section"]')
        job_des.append(job_de.text.replace('\n',' '))
    except:
        job_des.append('--')

In [197]:
len(job_des)

20

In [198]:
Data_scientist=pd.DataFrame({'Job Title':job_titl,'Company Name':com_nam,'Job Location':job_loc,'Job description':job_des})

In [199]:
Data_scientist[:10]

,Job Title,Company Name,Job Location,Job description
0,Data Scientist,Oracle India Pvt. Ltd.,Noida Bangalore/Bengaluru,Job Description The ideal candidate is expecte...
1,Cognitive Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore,Job Description Introduction As a Data Scienti...
2,Lead Data Scientist,Zycus Infotech Pvt Ltd,Bangalore/Bengaluru,--
3,Sr Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore,Job Description Introduction As a Data Scienti...
4,Sr Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,"Job Description As a Data Scientist at IBM, yo..."
5,Senior Data Scientist,TalentStack,Mumbai Gurgaon/Gurugram Bangalore/Bengaluru,--
6,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru,--
7,Principal Data Scientist,Narayana Heath,Bangalore/Bengaluru,--
8,Data Scientist Manager 10+ Years Bangalore/Mum...,CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,Gurgaon/Gurugram Chennai Bangalore/Bengaluru M...,Job Description Data Scientist Manager job opp...
9,Chief Data Scientist,Zycus Infotech Pvt Ltd,Bangalore/Bengaluru,--

# Answer 3

In [148]:
driver3=webdriver.Chrome(r"F:\Python\chromedriver.exe")
driver3.get('https://www.naukri.com/')

In [149]:
search_job=driver3.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [150]:
search_job.send_keys('Data scientist')

In [151]:
btn=driver3.find_element_by_xpath('//button[@class="btn"]')
btn

In [152]:
btn.click()

In [154]:
filter1=driver3.find_element_by_xpath('//span[@title="3-6 Lakhs"]')

In [155]:
filter1

In [156]:
filter1.click()

In [159]:
filter2=driver3.find_element_by_xpath('//span[@title="Delhi / NCR"]')
filter2.click()

In [162]:
job_ti=driver3.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_til=[]
for i in job_ti:
    job_til.append(i.text.replace(',',''))
len(job_til)

20

In [165]:
job_lo=driver3.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_loc=[]
for i in job_lo:
    job_loc.append(i.text.replace(',',''))
len(job_loc) 
print(job_loc)

['Noida New Delhi Gurgaon/Gurugram', 'Pune Chennai Bangalore/Bengaluru Delhi / NCR Mumbai (All Areas)', 'Gurgaon/Gurugram', 'Gurgaon/Gurugram Bangalore/Bengaluru any\n(WFH during Covid)', 'Bangalore/Bengaluru Delhi / NCR Mumbai (All Areas)', 'Mohali/SAS Nagar Hyderabad/Secunderabad Ahmedabad Gurgaon/Gurugram Chennai Bangalore/Bengaluru', 'Noida\n(WFH during Covid)', 'New Delhi Delhi / NCR', 'Delhi / NCR(Okhla)', 'Noida(Sector-59 Noida)', 'Gurgaon/Gurugram', 'Noida Pune Mumbai (All Areas)', 'New Delhi', 'Mumbai Gurgaon/Gurugram Bangalore/Bengaluru', 'Hyderabad/Secunderabad Gurgaon/Gurugram Bangalore/Bengaluru', 'Gurgaon/Gurugram', 'Delhi', 'Chandigarh Hyderabad/Secunderabad Chennai Bangalore/Bengaluru Delhi / NCR', 'Gurgaon/Gurugram', 'Delhi']

In [168]:
com=driver3.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
comp=[]
for i in com:
    comp.append(i.text)
print(len(comp))
print(comp)

20
['GABA Consultancy services', 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED', 'CARS24', 'Metaphor Infotech', 'Skillenable Fintech Private Limited', 'Creative Hands HR Consultancy', 'R Systems International Ltd.', 'PY Consultancy', 'Kusum Healthcare Pvt. Ltd.', 'R Systems International Ltd.', 'TalPro', 'WEGARNER SOLUTIONS PRIVATE LIMITED', 'iHackers Inc', 'Fractal Analytics', 'inVentiv International Pharma Services Pvt. Ltd.', 'CBRE South Asia Pvt Ltd', 'iNICU', 'IDS Infotech Ltd.', 'Decimal Technologies Pvt Ltd.', 'Sentieo']

In [169]:
ex=driver3.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp=[]
for i in ex:
    exp.append(i.text)
print(len(exp))

20

In [170]:
Job_filter=pd.DataFrame({'Job title':job_til,'Location':job_loc,'Comapany':comp,'Experiance':exp})

In [171]:
Job_filter[:11]

,Job title,Location,Comapany,Experiance
0,Data Scientist / Data Analyst / Business Analy...,Noida New Delhi Gurgaon/Gurugram,GABA Consultancy services,0-0 Yrs
1,Data Scientist - WFH - MIND Infotech,Pune Chennai Bangalore/Bengaluru Delhi / NCR M...,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs
2,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
3,Urgent Opening For Data Scientist/Data Analyst...,Gurgaon/Gurugram Bangalore/Bengaluru any\n(WFH...,Metaphor Infotech,5-10 Yrs
4,Data Analyst/Data Scientist,Bangalore/Bengaluru Delhi / NCR Mumbai (All Ar...,Skillenable Fintech Private Limited,2-5 Yrs
5,Data Scientist/ Machine Learning Engineer,Mohali/SAS Nagar Hyderabad/Secunderabad Ahmeda...,Creative Hands HR Consultancy,0-0 Yrs
6,Data Scientist,Noida\n(WFH during Covid),R Systems International Ltd.,5-10 Yrs
7,Junior Data Scientists & Engineers,New Delhi Delhi / NCR,PY Consultancy,0-3 Yrs
8,Data Scientist,Delhi / NCR(Okhla),Kusum Healthcare Pvt. Ltd.,4-6 Yrs
9,Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,5-10 Yrs
10,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs

# Answer 4

In [398]:
driver4=webdriver.Chrome(r"F:\Python\chromedriver.exe")
driver4.get('https://www.glassdoor.co.in/member/home/index.htm')

In [400]:
search=driver4.find_element_by_xpath('//input[@class="css-1etjok6"]')
search

In [401]:
search.send_keys('data scientist')

In [402]:
search1=driver4.find_element_by_id('sc.location')
search1

In [403]:
search1.send_keys('Noida')

In [404]:
time.sleep(3)
btn=driver4.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7"]')
btn

In [405]:
btn.click()

In [407]:
job_n=driver4.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]')
job_n
job=[]
for i in job_n:
    job.append(i.text)
print(job)

['AlgoScale Technologies Private Limited', 'Liberin Technologies Private Limited', 'Ishatva Management Solutions', 'limeroad.com', 'Badatya Private Limited', 'Saishaa Services', 'Techlive', 'Newgen Software', 'Data Trained Education', 'Biz2Credit Inc', 'Salasar New Age Technologies', 'Ericsson', 'ING', 'Innovacer', 'Salasar New Age Technologies', 'NEC Opportunities', 'Verisk', 'SearchUrCollege', 'Gauge Data Solutions', 'Crowe', 'NMG Technologies', 'Airtel India', 'CRMNEXT', 'IElevate Institute', 'Wobot.ai', 'Adobe', 'OneViewHR', 'Adobe', 'xtLytics', 'McKinsey & Company']

In [408]:
post=driver4.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
d_post=[]
for i in post:
    d_post.append(i.text)
print(d_post)

['11d', '30d+', '7d', '11d', '8d', '13d', '30d+', '30d+', '30d+', '30d+', '30d+', '6d', '3d', '30d+', '30d+', '18d', '2d', '30d+', '30d+', '30d+', '23d', '17d', '26d', '5d', '9d', '2d', '4d', '30d+', '30d+', '9d']

In [409]:
rat_tg=driver4.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]')
job_link=[]
for i in rat_tg:
    job_link.append(i.get_attribute('href'))
len(job_link)

30

In [391]:
#rate=driver4.find_elements_by_xpath('//div[@class="d-flex flex-column css-x75kgh e1rrn5ka3"]')
#rate
job_rate=[]
for i in job_link:
    driver4.get(i)
    try:
        rt=driver4.find_element_by_xpath('//div[@class="css-16nw49e e11nt52q1"]/span')
        job_rate.append(rt.text.replace('\n',''))
    except:
        job_rate.append('---')

In [392]:
print(job_rate)

['---', '---', '3.8★', '---', '---', '4.5★', '---', '3.3★', '---', '---', '---', '4.1★', '4.2★', '4.0★', '---', '---', '3.8★', '---', '---', '4.0★', '3.2★', '---', '3.8★', '3.8★', '4.4★', '4.4★', '---', '---', '3.8★', '3.9★']

In [309]:
len(job_rate)

30

In [410]:
job=pd.DataFrame({'Company name':job,'Days posted':d_post,'Comapny rating':job_rate})

In [411]:
job[:11]

                              Company name Days posted Comapny rating
0   AlgoScale Technologies Private Limited         11d            ---
1     Liberin Technologies Private Limited        30d+            ---
2             Ishatva Management Solutions          7d           3.8★
3                             limeroad.com         11d            ---
4                  Badatya Private Limited          8d            ---
5                         Saishaa Services         13d           4.5★
6                                 Techlive        30d+            ---
7                          Newgen Software        30d+           3.3★
8                   Data Trained Education        30d+            ---
9                           Biz2Credit Inc        30d+            ---
10            Salasar New Age Technologies        30d+            ---

# Answer 5

In [106]:
driver5=webdriver.Chrome(r"F:\Python\chromedriver.exe")
driver5.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [118]:
srch=driver5.find_element_by_id('KeywordSearch')
srch

In [119]:
srch.send_keys('data scientist')

In [120]:
srch1=driver5.find_element_by_id('LocationSearch')
srch1

In [121]:
srch1.send_keys('Noida')

In [123]:
btn=driver5.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
btn.click()

In [124]:
job_n=driver5.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')
job_n
job=[]
for i in job_n:
    job.append(i.text)
print(job)

['Tata Consultancy Services', 'IBM', 'Accenture', 'Delhivery', 'Ericsson-Worldwide', 'UnitedHealth Group', 'Optum', 'Optum Global Solutions', 'Valiance Solutions', 'EXL Service', 'Cognizant Technology Solutions', 'ZS Associates', 'Nagarro', 'Innovaccer', 'OYO', 'dunnhumby', 'Amazon', 'CARS24.com', 'Vidooly Media Tech', 'ParallelDots']

In [126]:
lnk=driver5.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')
j_ln=[]
for i in lnk:
    j_ln.append(i.get_attribute('href'))
len(j_ln)

20

In [141]:
avg=driver5.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')
avg_salary=[]
for i in avg:
    avg_salary.append(i.text.replace('\n',''))

In [142]:
print(avg_salary)

['₹6,19,349 /yr', '₹9,00,000 /yr', '₹11,71,012 /yr', '₹12,26,283 /yr', '₹7,44,116 /yr', '₹12,80,000 /yr', '₹13,29,677 /yr', '₹14,28,139 /yr', '₹8,69,449 /yr', '₹11,10,000 /yr', '₹9,53,560 /yr', '₹11,49,894 /yr', '₹10,81,155 /yr', '₹12,17,018 /yr', '₹14,24,677 /yr', '₹11,09,179 /yr', '₹20,25,084 /yr', '₹10,60,462 /yr', '₹34,383 /mo', '₹8,32,315 /yr']

In [153]:
mi=driver5.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[1]')
salary=[]
for i in mi:
    salary.append(i.text)
print(salary)

['₹4L', '₹1L', '₹6L', '₹5L', '₹4L', '₹8L', '₹8L', '₹10L', '₹5L', '₹6L', '₹4L', '₹2L', '₹4L', '₹6L', '₹10L', '₹8L', '₹10L', '₹9L', '₹12T', '₹5L']

In [152]:
ma=driver5.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p')
salary1=[]
for i in mi:
    salary1.append(i.text)
print(salary1)

['₹13L', '₹28L', '₹22L', '₹1Cr', '₹16L', '₹15L', '₹20L', '₹17L', '₹15L', '₹15L', '₹13L', '₹18L', '₹21L', '₹17L', '₹21L', '₹20L', '₹30L', '₹15L', '₹63T', '₹72L']

In [165]:
rate=driver5.find_elements_by_xpath('//div[@class="d-flex align-items-center mt-xxsm"]/span[1]')
rating=[]
for i in rate:
    rating.append(i.text)
print(rating)

['3.9', '3.9', '4.1', '3.8', '4', '3.7', '3.7', '3.9', '4.2', '3.6', '3.8', '4', '4', '3.8', '3.3', '4.1', '3.8', '4.1', '3.8', '3.8']

In [166]:
Job=pd.DataFrame({'Company name':job,'Comapny Rating':rating,'Avg Salary':avg_salary,'Min salary':salary,'Max salary':salary1})

In [167]:
Job[:10]

,Company name,Comapny Rating,Avg Salary,Min salary,Max salary
0,Tata Consultancy Services,3.9,"₹6,19,349 /yr",₹4L,₹13L
1,IBM,3.9,"₹9,00,000 /yr",₹1L,₹28L
2,Accenture,4.1,"₹11,71,012 /yr",₹6L,₹22L
3,Delhivery,3.8,"₹12,26,283 /yr",₹5L,₹1Cr
4,Ericsson-Worldwide,4,"₹7,44,116 /yr",₹4L,₹16L
5,UnitedHealth Group,3.7,"₹12,80,000 /yr",₹8L,₹15L
6,Optum,3.7,"₹13,29,677 /yr",₹8L,₹20L
7,Optum Global Solutions,3.9,"₹14,28,139 /yr",₹10L,₹17L
8,Valiance Solutions,4.2,"₹8,69,449 /yr",₹5L,₹15L
9,EXL Service,3.6,"₹11,10,000 /yr",₹6L,₹15L

# Answer 6

In [38]:
driver6=webdriver.Chrome(r"F:\Python\chromedriver.exe")
driver6.get('https://www.flipkart.com/')

In [39]:
search=driver6.find_element_by_name('q')
search

In [40]:
search.send_keys('sunglasses')

In [41]:
btn=driver6.find_element_by_xpath('//button[@class="L0Z3Pu"]')

In [42]:
btn.click()

In [9]:
b_name=[]
for i in range(1,4):
    bnam=driver6.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in bnam:
        b_name.append(i.text)
next_btn=driver6.find_element_by_xpath('//a[@class="ge-49M"]')
next_btn.click()

In [11]:
len(b_name)

120

In [16]:
price=[]
for i in range(1,4):
    pr=driver6.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in pr:
        price.append(i.text)
next_btn=driver6.find_element_by_xpath('//a[@class="ge-49M"]')
next_btn.click()        
len(price)

120

In [36]:
descr=[]
for i in range(1,4):
    des=driver6.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]')
    try:
        for i in des:
            descr.append(i.text)
    except:
        descr.append('--')
next_btn=driver6.find_element_by_xpath('//div[@class="_2MImiq"]/span')
next_btn.click()        
len(descr)

120

In [43]:
dicnt=[]
for i in range(1,4):
    dis=driver6.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    try:
        for i in dis:
            dicnt.append(i.text)
    except:
        dicnt.append('--')
next_btn=driver6.find_element_by_xpath('//div[@class="_2MImiq"]/span')
next_btn.click()        
len(dicnt)

120

In [48]:
Sunglasses=pd.DataFrame({'Brand name':b_name,'Price':price,'Description':descr,'Discount':dicnt},index=range(1,121))

In [49]:
Sunglasses[:100]

,Brand name,Price,Description,Discount
1,GANSTA,₹474,UV Protection Wayfarer Sunglasses (55),66% off
2,ROYAL SON,₹352,Others Round Sunglasses (52),65% off
3,SHAAH COLLECTIONS,₹209,"UV Protection, Polarized, Mirrored Wayfarer Su...",86% off
4,Elligator,₹854,UV Protection Aviator Sunglasses (57),88% off
5,PIRASO,₹355,UV Protection Retro Square Sunglasses (88),85% off
...,...,...,...,...
96,AISLIN,₹469,"UV Protection, Gradient Over-sized Sunglasses ...",62% off
97,SHAAH COLLECTIONS,₹331,"Riding Glasses, Others, UV Protection Wrap-aro...",78% off
98,PHENOMENAL,₹295,"UV Protection, Riding Glasses Rectangular, Ret...",80% off
99,Fastrack,₹210,"UV Protection, Polarized, Gradient Rectangular...",80% off
100,Flizz,₹799,UV Protection Oval Sunglasses (Free Size),55% off

# Answer 7

In [51]:
driver7=webdriver.Chrome(r"F:\Python\chromedriver.exe")
driver7.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [57]:
rate=[]
for i in range(1,11):
    try:
        rt=driver7.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in rt:
            
            rate.append(i.text)
    except:
        rate.append('---')
len(rate)

100

In [60]:
rev=[]
for i in range(1,11):
    try:
        rv=driver7.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for i in rv:
            
            rev.append(i.text)
    except:
        rev.append('---')
len(rev)

100

In [66]:
rev1=[]
for i in range(1,11):
    try:
        rv1=driver7.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for i in rv1:
            
            rev1.append(i.text.replace('\n',''))
    except:
        rev1.append('---')
len(rev1)

100

In [69]:
iphone11=pd.DataFrame({'Rating':rate,'Summary review':rev,'Full review':rev1},index=range(len(rate)))

In [70]:
iphone11

,Rating,Summary review,Full review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

# Answer 8

In [71]:
driver8=webdriver.Chrome(r"F:\Python\chromedriver.exe")
driver8.get('https://www.flipkart.com/')

In [72]:
search=driver8.find_element_by_name('q')
search.send_keys('sneakers')

In [74]:
btn=driver8.find_element_by_xpath('//button[@class="L0Z3Pu"]')
btn.click()

In [89]:
name=[]
for i in range(1,4):
    nam=driver8.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in nam:
        name.append(i.text)
next_btn=driver8.find_element_by_xpath('//a[@class="ge-49M"]')
next_btn.click()
     
len(name)

120

In [93]:
desc=[]
for i in range(1,4):
    ds=driver8.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]')
    for i in ds:
        desc.append(i.text)
next_btn=driver8.find_element_by_xpath('//a[@class="ge-49M"]')
next_btn.click()         
len(desc)

120

In [99]:
pric=[]
for i in range(1,4):
    prc=driver8.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in prc:
        pric.append(i.text)
next_btn=driver8.find_element_by_xpath('//nav[@class="yFHi8N"]/a')
next_btn.click()        
len(pric)

120

In [105]:
dsnt=[]
for i in range(1,4):
    try:
        
        dic=driver8.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
        for i in dic:
            dsnt.append(i.text)
    except:
                
        dsnt.append('--')
next_btn=driver8.find_element_by_xpath('//nav[@class="yFHi8N"]/a')
next_btn.click()        
len(dsnt)

120

In [107]:
Sneakers=pd.DataFrame({'Brand Name':name,'Product description':desc,'Price':pric,'Discount':dsnt},index=range(len(name)))

In [109]:
Sneakers

,Brand Name,Product description,Price,Discount
0,India hub,Stylish Sports Combo Sneakers For Men,₹379,81% off
1,Echor,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹389,80% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹599,62% off
3,Longwalk,Men Boxer Sneakers For Men,₹266,46% off
4,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹379,70% off
...,...,...,...,...
115,Stinson,White Sneaker For Men's/Boy's Sneakers For Men,₹499,61% off
116,WRIZT,"Casual Sneakers,dancing, walking Sneakers For Men",₹299,70% off
117,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
118,Airland,shoe Sneakers For Men,₹250,49% off
119,bluemaker,Sneakers For Men,₹599,59% off

In [110]:
driver9=webdriver.Chrome(r"F:\Python\chromedriver.exe")
driver9.get('https://www.myntra.com/shoes')

In [133]:
filter1=driver9.find_element_by_xpath('//ul[@class="price-list"]/li[2]')
filter1.click()

In [135]:
filter2=driver9.find_element_by_xpath('//li[@class="colour-listItem"]/label[1]')
filter2.click()

In [137]:
b_nam=[]
for i in range(1,3):
    n=driver9.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3')
    for i in n:
        b_nam.append(i.text)
len(b_nam)

100

In [215]:
des=[]
for i in range(1,3):
    ds=driver9.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h4[1]')
    for i in ds:
        des.append(i.text.replace('""',''))
len(des)

100

In [230]:
prc=[]
for i in range(1,3):
    pr=driver9.find_elements_by_xpath('//div[@class="product-price"]/span[1]')
    for i in pr:
        prc.append(i.text[:10].replace("'' ",''))
len(prc)

100

In [231]:
Shoes=pd.DataFrame({'Brand name':b_nam,'Short description':des,'Price':prc})

In [232]:
Shoes

      Brand name                Short description       Price
0           ALDO                Men Driving Shoes   Rs. 11999
1           Puma   Men Cell Fraction Fade Running    Rs. 6999
2           Puma       Men Velocity Nitro Running   Rs. 10999
3           Puma        Mesh Hybrid Fuego Running    Rs. 6999
4           Puma   Men BlackTraining or Gym Shoes    Rs. 6999
..           ...                              ...         ...
95         ASICS    Women GlideRide Running Shoes  Rs. 11199R
96          ALDO                   Women Sneakers   Rs. 11999
97   RARE RABBIT      Men Leather Formal Slip-Ons    Rs. 9999
98  Hush Puppies  Men Solid Leather Formal Derbys  Rs. 8999Rs
99      DAVINCHI  Men Solid Leather Formal Derbys    Rs. 8990

[100 rows x 3 columns]

# Answer 10

In [307]:
driver10=webdriver.Chrome(r"F:\Python\chromedriver.exe")
driver10.get('https://www.amazon.in/')

In [308]:
search=driver10.find_element_by_id('twotabsearchtextbox')
search.send_keys('Laptop')

In [309]:
btn=driver10.find_element_by_xpath('//div[@class="nav-right"]')
btn.click()

In [310]:
filter1=driver10.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
for i in filter1:
    if (i.text)==('Intel Core i7' or 'Intel Core i9'):
        i.click()
        break

In [311]:
title=[]
ttl=driver10.find_elements_by_xpath('//div[@class="a-section a-spacing-none"]/h2')
for i in ttl:
    title.append(i.text)
len(title)

26

In [326]:
t1=title[:10]

In [318]:
pric=[]
try:
    prc=driver10.find_elements_by_xpath('//a[@class="a-size-base a-link-normal a-text-normal"]/span[1]')
    for i in prc:
        pric.append(i.text)
except:
    pric.append('--')  
len(pric)

23

In [327]:
pr1=pric[:10]

In [280]:
link=[]
lnk=driver10.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a')
for i in lnk:
    link.append(i.get_attribute('href'))
len(link)

26

In [292]:
lap_rate=[]
for i in link:
    driver10.get(i)
    try:
        rt=driver10.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]')
        lap_rate.append(rt.text)
    except:
        lap_rate.append('---')

In [322]:
lap_rate=lap_rate[:10]

In [328]:
Laptops=pd.DataFrame({'Laptop Name':t1,'Price':pr1,'Rating':lap_rate})

In [329]:
Laptops

                                         Laptop Name      Price        Rating
0  Dell XPS 9370 13.3-inch FHD Display Thin & Lig...  ₹1,14,990  2.8 out of 5
1  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  ₹1,23,300  4.1 out of 5
2  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....    ₹77,990  4.3 out of 5
3  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...    ₹73,990  4.3 out of 5
4  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...    ₹74,990  4.2 out of 5
5  Mi Notebook Horizon Edition 14 Intel Core i7-1...    ₹57,990  4.4 out of 5
6  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    ₹87,990  4.2 out of 5
7  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    ₹86,990  3.5 out of 5
8  Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....  ₹1,07,990  4.1 out of 5
9  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  ₹1,23,300    5 out of 5